/*
Group member’s name:
Sandra Vera Gomez
Erick Mulia Goycoolea
Ali Khudhair
Contribution in this file by Sandra Vera Gomez
*/
.bar-g {
    display: inline-block;
    width: 40px;
}

.bar-g-content {
    width: 40px;
    text-align: center;
}
.close {
    display: block;
    color: #967E76;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#dashboard-table {
    width: 100%;
    background-color: #EEEEEE;
}

#studio-list > li {
    float: none !important;
}

#studio-list {
    background-color: #F7DCB9;
    text-align:center;
}

#im {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
